<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Zone!</title>
  <link rel="stylesheet" type="text/css" href="/static/demo.css">
</head>
<body>
  <header>
    <h1>Music for Your Mood!</h1>
  </header>

  <main>
    <div class="transcription">
      **Transcription:**
    </div>
    

    {% block category_content %}
    {% endblock %}
  </main>
  <script src="/static/main.js"></script>

</body>
</html>

